<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Esqueceu sua senha?</title>

		<style>
			* {
				margin: 0px;
        padding: 0px;
        box-sizing: border-box;
			}

      .container {
        background-color: #FFFFFF;
        width: 550px;
        padding: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
        margin: 0 auto;
      }

      h2 {
        margin-bottom: 16px;
        color: #333333;
      }

      p {
        margin-bottom: 48px;
        color: #333333;
      }

      a {
        padding: 16px;
        margin-bottom: 16px;
        background-color: #20E277;
        color: #FFFFFF !important;
        border: #16994F;
        cursor: pointer;
        text-decoration: none;
      }

      a:hover {
        background-color: #329F5B;
      }
		</style>
	</head>
	<body style="background-color: #F2F3F8; padding: 20px;">
		<div class="container">
      <h2>Esqueceu sua senha?</h2>
      <p>Se você não solicitou a recuperação de senha, pode ignorar este e-mail.</p>
      <a href="{{ link }}" target="_blank"> Recuperar senha</a>
		</div>
	</body>
</html>
